body{
    font-family: Arial, sans-serif; /*alterar a fonte texto da página*/
    margin: 0;
    padding: 0;
    display: flex;/*essas linhas alinharam*/
    justify-content: center;  
    align-items: center;	
    height: 100vh;	/*na horizontal e vertica*/

}
.container{
    text-align: center;
    background-color: rgb(80, 131, 165);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0, 0.1);

}
.escolha img{
    width: 100px; /*ALTERAremos o tamanho dos elementos*/	
}
.placar{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0, 0.1);
}
    